/* colors */

$black: #000;
$white: #fff;

/* borders */

@function border( $width: 1px, $color: currentColor ){
	@return $width solid $color;
}

$border: border();

@mixin border{
	border: border();
	border-radius: 1em;
}

@mixin grid {
	display: grid;
	padding: 2rem;
	gap: 2rem;
	grid-template-columns: 1fr 1fr;
}
