@import 'reset';

// @font-face {
// 	font-family: 'Sans';
// 	src: url('/fonts/Inter-Light.woff2') format('woff2'),
// 		 url('/fonts/Inter-Light.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

@import 'mixins';

html {
	font-size: 1em;
}
body {
	color: $black;
	background-color: $white;
	padding: 2rem;
}

input, button {
	display: block;
	@include border;
	padding: 0.5em 1em;
	margin: 0.5em;
	margin-left: 0;
}

button {
	&:hover {
		background-color: #ccc;
	}
}

pre {
	background-color: #eee;
	border-radius: 1em;
	padding: 1em;
	font-family: monospace;
}
