* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

html {
    font-size: 14px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    padding: 0.5em 1em;
    background-color: aquamarine;
    border-radius: 2em;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

dl {
    margin-bottom: 1rem;
    dt {
        font-weight: bold;
    }
}
